*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

header{
    position:fixed ;
    top: 0; left: 0; right: 0;
    background-color: #e3d5ca;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    /*display: flex;*/
   /* align-items: center;
    justify-content: space-between;*/
    z-index: 1000;
    
}
header .navbar ul{
    list-style: none;
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    font-size: 1rem;
    padding: 1rem;
    color: #9a8c98;
    display:block;
}
header .navbar ul li a:hover{
    background:#d5bdaf ;
    color: #ffffff;

}
header .navbar ul li ul{
    position:absolute;
    left: 0;
    width:200px;
    background: #f5ebe0;
    display: none;
}
header .navbar ul li ul li{
    border-top: 1px solid rgba(227, 213, 202,0.5);
    width:100%;
}

header .navbar ul li:hover >ul{
    display: initial;
}
form{
    position: relative;
    left: 45rem;
    top: 0.5rem;
    padding:2px;
}
/*input[type=text] {
    box-shadow: 3px 3px 4px  rgba(0,0,0,.5 );
    padding: 10px;
    font-size: 0.8rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    background: #fdf0d5;
  }
 form  button{
    width: 10%;color: #ede7e2;
    background-color: #0096c7;
    box-shadow: 3px 3px 4px  rgba(39, 37, 37, 0.5);
    border: 1px solid transparent;
    border-radius: 0.5rem;
  }
  button:hover{
    background-color: #0077b6;
  }*/

  #search{
    color:#9a8c98 ;
    background: #f4efed;
    border: 1px solid #d5bdaf;
    border-radius: 0.5rem;
    height: 1.5rem;
    box-shadow: 3px 3px 4px  rgba(39, 37, 37, 0.2)
  }
  #button{
    width:3%;
    height: 1.6rem;
    color: #ede7e2;
    background-color: #0096c7;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 4px  rgba(39, 37, 37, 0.2)
  }
  button:hover{
    background-color: #0077b6;
  }
#social{
    position: relative;
    top: 3rem;
    margin-left: 20px;
    
}
#social .instagram{
    padding: 5px;
    color: white;
    background-color: #2b2d42;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    box-shadow: 3px 3px 4px  rgba(39, 37, 37, 0.2)
}
#social .twitter{
    padding: 5px;
    color: white;
    background-color: #2b2d42;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    box-shadow: 3px 3px 4px  rgba(39, 37, 37, 0.2)
}
#social .facebook{
    padding: 5px;
    color: white;
    background-color: #2b2d42;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    box-shadow: 3px 3px 4px  rgba(39, 37, 37, 0.2)
}
#logo{
    position:relative;
    left:40%;
    
}
.middle{
    padding: 40px;
    position: relative;
    margin-top: 30px;
}
.news a{
    font-size:xx-large;
    color: #9d8189 ; 
}
.news a:hover{
color:#c9ada7
}

hr{ 
    box-shadow: 3px 3px 4px  rgba(39, 37, 37, 0.1);
    bottom: 3rem;
}
#card p{
    padding: 20px;
    position: relative;
   box-sizing: border-box;
   width: 210px;
}





  